:root{
    --vermelho: #e50914;
    --preto: #141414;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

header .logo {
    color: var(--vermelho);
    font-family: "Arial Black";
    font-size: 40px;
    margin-right: 20px;
}

.header-l, .header-r {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.header-r nav {
    display: flex;
    align-items: center;
}

header .header-l a, header .header-r a {
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
}

header nav a:hover {
    color: #fff;
    transform: scale(1.08);
}

.box-main {
    display: inline-flex;
    color: rgba(255, 255, 255, 0.7);
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.box-main .descript {
    width: 35%;
    margin-left: 20px;
    padding-left: 10px;
    background-image: linear-gradient(to right, rgb(14,14,14,0)70%, rgba(14,14,14,1));
}

.box-main .movie-img {
    background: linear-gradient(to left, rgba(14, 14, 14, 0.2)10%,rgba(14, 14, 14,1)), url('../assets/img/banner-a-origem.jpg');
    width: 65%;
    background-size: cover;
}

.box-main .subtitle {
    font-size: 20px;
    margin: 30px 0 5px;
}

.box-main .subtitle span {
    color: #fff;
}

.box-main .title-movie {
    font-size: 50px;
    margin-bottom: 15px;
    color: #fff;
}

.box-main .about-movie {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.about-movie .movie-match {
    color: rgb(123, 235, 123);
}

.about-movie .quali-movie {
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.box-main .sinopse {
    width: 90%;
    text-align: justify;
    line-height: 18px;
}

.box-main .btn-home {
    display: inline-block;
    margin: 20px 10px;
    height: 40px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.box-main .btn-home i {
    margin-right: 5px;
}

.btn-home:hover {
    background-color: rgba(255, 255, 255);
    color: #000;
    transform: scale(1.08);
}

.carousel .box-movies {
    display: block;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
    
    header .container .header-l{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
        order: 2;
    }

    .container .logo {
        margin: 0 0 10px;
    }

    header .container .header-l nav {
        display: inline-flex;
        justify-content: center;
    }

    header .container .header-l nav a:nth-child(4) {
        margin-right: 0;
    }

    .box-main .descript {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding: 10px;
        background: linear-gradient(to top, rgba(14, 14, 14, 0.5)100%,rgba(14, 14, 14)), url('../assets/img/banner-a-origem.jpg');
        background-size: cover;
    }

    .box-main .movie-img {
        background-image: none;
        width: 0%;
        height: 0%;
    }

    .descript .sinopse {
        width: 100%;
    }

    .descript .about-movie {
        width: 100%;
    }

    .descript .btn-home {
        font-size: 10px;
        width:220px;
        height: 40px;
        margin: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .box-main .descript .about-movie {
        width: 90%;
    }

    .descript .btn-home {
        width: 300px;
        margin-left: 0;
    }
}